<div class="page-header">
    <div class="logo-container left-logo">
        <img src="assets/logo2.png" alt="Project Logo" class="center-logo">
    </div>
    <h1 class="page-title">MSS Services</h1>
    <div class="logo-container right-logo">
        <img src="assets/logo.jpg" alt="Company Logo" class="center-logo1">
    </div>
</div>

<div class="services-container">
    <div *ngFor="let service of dataSource.data" class="service-card" [ngClass]="{ 'inactive-service': !service.status }">
        <div class="service-header">
            <h3>{{ service.name }}</h3>
            <span class="service-status" [ngClass]="{ 'active-status': service.status, 'inactive-status': !service.status }">
              {{ service.status ? "Active" : "Inactive" }}
          </span>
        </div>
        <div class="service-content">
            <div class="service-detail">
                <mat-icon class="detail-icon">event</mat-icon>
                <strong>Date:</strong> {{ service.createdDate | date: "M/d/yy, h:mm:ss" }}
            </div>
            <div class="service-detail">
                <mat-icon class="detail-icon">description</mat-icon>
                <strong>Description:</strong> {{ service.description }}
            </div>
            <div class="service-detail endpoint-detail">
                <mat-icon class="detail-icon">link</mat-icon>
                <strong>Endpoint:</strong>
                <span class="endpoint-text">{{ service.endpoint }}</span>
            </div>


        </div>
        <div class="service-actions">
            <button mat-raised-button color="accent" class="subscription-button" [disabled]="!service.status || service.subscriptionStatus === 'PENDING' || service.subscriptionStatus === 'APPROVED'" (click)="subscribeService(service)">
              {{ service.subscriptionStatus || 'Subscribe' }}
          </button>
        </div>
    </div>
</div>

<mat-paginator [length]="15" [pageSizeOptions]="[10, 15, 20]" aria-label="Select page"></mat-paginator>