<div class="user-profile-card">
    <div *ngIf="user" class="user-details">
        <h3 class="profile-header">
            <mat-icon>person</mat-icon> User Details
        </h3>
        <table class="profile-table">
            <tr>
                <td>
                    <mat-icon>account_circle</mat-icon>
                </td>
                <td class="label">Username:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon>email</mat-icon>
                </td>
                <td class="label">Email:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon>person</mat-icon>
                </td>
                <td class="label">First Name:</td>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon>person</mat-icon>
                </td>
                <td class="label">Last Name:</td>
                <td>{{ user.lastName }}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="userGroups && userGroups.length > 0" class="user-groups">
        <h3 class="profile-header">
            <mat-icon>group</mat-icon> User Clients
        </h3>
        <table class="profile-table">
            <tr>
                <th>Client Name</th>
            </tr>
            <tr *ngFor="let group of userGroups">
                <td>
                    <mat-icon>business</mat-icon>
                </td>
                <td>{{ group.groupName }}</td>
            </tr>
        </table>
    </div>
</div>