<div class="page-content mat-elevation-z8">
    <h3>Your Service Usage</h3>
    <mat-table [dataSource]="dataSource" class="custom-mat-table">
        <ng-container matColumnDef="service">
            <mat-header-cell *matHeaderCellDef>Service</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.endpoint }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.timestamp | date: 'short' }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>