<div class="client-list-container">
    <h2 class="title">
        <mat-icon class="title-icon"></mat-icon> Clients List
    </h2>
    <div class="card-grid">
        <div class="group-card" *ngFor="let group of groups">
            <h3 class="group-name">{{ group.name }}</h3>
            <div class="actions">
                <button mat-icon-button (click)="viewUsers(group.id)" matTooltip="View Users" class="icon-button view-users">
                  <mat-icon class="action-icon">group</mat-icon>
              </button>
                <button mat-icon-button (click)="addUsers(group.id, group.name)" matTooltip="Add Users" class="icon-button add-users">
                  <mat-icon class="action-icon">person_add</mat-icon>
              </button>

                <button mat-icon-button (click)="editGroup(group)" matTooltip="Edit Group" class="icon-button edit-group">
                  <mat-icon class="action-icon">edit</mat-icon>
              </button>
                <button mat-icon-button (click)="deleteGroup(group.id)" matTooltip="Delete Group" class="icon-button delete-group">
                  <mat-icon class="action-icon">delete</mat-icon>
              </button>
                <button mat-icon-button (click)="viewGroupInvoices(group.id)" matTooltip="View Invoices" class="icon-button view-invoices">
                  <mat-icon class="action-icon">receipt</mat-icon>
              </button>
                <button mat-button [ngClass]="{'green-button': group.tokenGenerated, 'gray-button': !group.tokenGenerated}" (click)="toggleToken(group.id)">
                  {{ group.tokenGenerated ? 'Delete Token' : 'Generate Token' }}
              </button>
            </div>
        </div>
    </div>
    <mat-paginator [length]="totalGroups" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>